.container {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}
.header-separation {
    background-image: url('https://www.jing.fm/clipimg/detail/110-1102857_pokeball-logo-png-pokemon-fire-red-pokeball.png');
}


